@font-face {
    font-family: 'FE1';
    src: url('../fonts/NotoSansHans-Bold.otf') format('woff');
}
@font-face {
    font-family: 'FE3';
    src: url('../fonts/NOTOSANSHANS-LIGHT_1.OTF') format('woff');
}